<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1 class="text-center mt-4">Dashboard</h1>
    <div class="row mt-5">
        <div class="col-md-6">
            <h4>Temperature vs Time</h4>
            {{ temperature_plot|safe }}
        </div>
        <div class="col-md-6">
            <h4>pH vs Time</h4>
            {{ ph_plot|safe }}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <h4>Distilled Oxygen vs Time</h4>
            {{ do_plot|safe }}
        </div>
        <div class="col-md-6">
            <h4>Pressure vs Time</h4>
            {{ pressure_plot|safe }}
        </div>
    </div>
</div>

</body>
</html>
